<div id="subheader">
  <h2 class="mac-addr">MAC Address</h2>
  <h2 class="cn">Name</h2>
  <h2 class="hostname">Hostname</h2>
  <h2 class="ard-field-1">ARD Field 1</h2>
  <h2 class="ard-field-2">ARD Field 2</h2>
  <h2 class="ard-field-3">ARD Field 3</h2>
  <h2 class="ard-field-4">ARD Field 4</h2>
  <h2 class="group">Group</h2>
  <h2 class="links">Links</h2>
</div>

<ol>
  <%= render :partial => "computer", :collection => @computers %>
</ol>
